.hero {
    .hero-image{
        min-height: 150vh;
        background: url('/images/construction.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}