.hero {
    .hero-image{
        height: 100vh;
        background: url('/images/Nova.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}